@dreamrobot:registry=https://pkgs.dev.azure.com/dreamrobot/dreamrobot/_packaging/development/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/dreamrobot/dreamrobot/_packaging/development/npm/registry/:username=dreamrobot
//pkgs.dev.azure.com/dreamrobot/dreamrobot/_packaging/development/npm/registry/:_password=Z2locG9lZzJobWo1cjM0cTZvd3F0aGE1Nm1vd3pycDRlZXd0djJqM21iZ2ZjdzNuaXZqYQ==
//pkgs.dev.azure.com/dreamrobot/dreamrobot/_packaging/development/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/dreamrobot/dreamrobot/_packaging/development/npm/:username=dreamrobot
//pkgs.dev.azure.com/dreamrobot/dreamrobot/_packaging/development/npm/:_password=Z2locG9lZzJobWo1cjM0cTZvd3F0aGE1Nm1vd3pycDRlZXd0djJqM21iZ2ZjdzNuaXZqYQ==
//pkgs.dev.azure.com/dreamrobot/dreamrobot/_packaging/development/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

